<h2>
  <span>SPLURTY 40K / No. <%= @quote.id %></span>
  Here's your <b>Warhammer 40K</b> quote!
</h2>

<h1><%= @quote.saying %></h1>
<h2 class="float-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />
